<div class="right">
    <div class="inner">
      <section>
        <h2>About</h2>
        <p>{{about}}</p>
      </section>
      <section>
        <h2>XP</h2>
        <div class="item" ng-repeat="e in xp">
          <p><i>{{e.role}}</i> @ {{e.company}} <small>{{e.period}}</small></p>
          <p>{{e.description}}</p>
        </div>
      </section>
      <section>
        <h2>Education</h2>
        <div class="item" ng-repeat="e in education">
          <p>{{e.major}} | <em>{{e.university}}</em></p>
          <p>{{e.period}}</p>
        </div>
      </section>
      <section>
        <h2>Technical Skills</h2>
        <div>
          <table>
            <tbody>
              <tr ng-repeat="e in techskills | orderBy:'-experience'">
                <td class="tdright"><em>{{e.name}}</em> |</td>
                <td>
                  <level-icons icon="star" num="{{e.experience}}"></level-icons>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section>
        <h2>Languages</h2>
        <div>
          <table>
            <tbody>
              <tr ng-repeat="e in languages | orderBy:'-experience'">
                <td class="tdright"><em>{{e.label}}</em> |</td>
                <td>
                  <level-icons icon="comment" num="{{e.experience}}"></level-icons>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section>
        <h2>Certifications & Awards</h2>
        <ul class="skill-set">
          <li ng-repeat="e in certs">{{e}}</li>
        </ul>
      </section>
      <section>
        <h2>Personal Interests</h2>
        <ul class="skill-set">
          <li ng-repeat="e in interests">{{e}}</li>
        </ul>
      </section>

      <section>
        <h2>Trivia</h2>
        <div>
          <p ng-repeat="e in trivia">{{e.label}} | <em>{{e.content}}</em></p>
        </div>
      </section>
  </div>
</div>
