<div class="left">
    <div class="name-hero">
      <div class="me-img">
        <img ng-src="{{contact.image}}" alt="{{contact.name}}"/>
      </div>
      <div class="name-text">
        <h1>{{ contact.name }}<em> {{ contact.lastName }}</em></h1>
        <div class="contact-info">
          <p>{{ contact.city }}</p>
          <div class="contact-icons">
            <a ng-repeat="e in icons" ng-href="{{e.path}}" target="_blank" ng-title="{{e.label}}">
            <i class="{{e.icon}}" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
