/* 
    Document   : styles.scss
    Created on : Oct 28, 2013, 3:49:43 AM
    Last Update: May 26, 2016, 1:44:52 AM
    Author     : Manuel Reyes
    Description:
        Styles for cool resume.
*/
root {
  display: block;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Cantata One", serif;
  font-weight: 400;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  min-width: 300px;
}
@media screen and (max-width: 75em) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 60em) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 48em) {
  body {
    font-size: 14px;
  }
}

ul {
  list-style-type: none;
  margin-top: -10px;
  max-width: 570px;
  padding: 0;
  cursor: default;
}

.overlay {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.wrapper {
  height: 100%;
}

.skill-set li {
  font-size: 95%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: white;
  display: inline-block;
  list-style: none;
  margin: 8px 10px 0px 0px;
  padding: 10px 5px 0px 5px;
  max-width: 169px;
  min-width: 36px;
  height: 30px;
  text-align: center;
  overflow: hidden;
}
.skill-set li:hover {
  background: #126ee0;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.toggleBtn {
  position: relative;
  display: block;
  color: #333;
  cursor: pointer;
  padding-top: 10px;
  width: 100%;
  clear: none;
  margin-top: 3em;
  border-top: 1px solid #ececec;
  text-align: center;
}
.toggleBtn:hover {
  color: #126ee0;
}

.me-img {
  border-radius: 100%;
  height: 250px;
  margin: 0 auto;
  margin-top: -10%;
  position: relative;
  width: 250px;
  overflow: hidden;
}
.me-img img {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 75em) {
  .me-img {
    width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 48em) {
  .me-img {
    width: 200px;
    height: 200px;
    top: 0px;
  }
}
@media screen and (max-width: 33em) {
  .me-img {
    width: 150px;
    height: 150px;
  }
}

.left {
  background-color: rgba(0, 0, 0, 0.025);
  border-right: 1px solid #ececec;
  float: right;
  height: 100%;
  min-width: 200px;
  position: fixed;
  width: 33.33%;
  max-width: 550px;
  top: 0px;
}
@media screen and (max-width: 48em) {
  .left {
    float: none;
    position: relative;
    min-width: 100%;
    min-height: 30em;
    clear: none;
  }
}
@media screen and (max-width: 48em) {
  .left {
    float: none;
    position: relative;
    min-width: 100%;
    min-height: 30em;
    clear: none;
  }
}

.right {
  float: right;
  height: 100%;
  position: relative;
  width: 66.66%;
}
@media screen and (max-width: 48em) {
  .right {
    float: none;
    position: relative;
    min-width: 100%;
    min-height: 30em;
    clear: none;
  }
}
@media screen and (max-width: 33em) {
  .right {
    min-height: 15em;
  }
}

.contact-icons {
  position: relative;
  margin: 0 auto;
  min-width: 12em;
  clear: none;
  padding: 20px;
}

.contact-info {
  display: block;
  padding: 10px;
  text-align: center;
}
.contact-info a {
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  color: #333332;
}

.name-hero {
  background: #f9f9f9;
  bottom: 0;
  height: 290px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
}
.name-hero h1 {
  font-size: 1.5em;
  text-align: center;
}
.name-hero h1 em {
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 700;
}
.name-hero p {
  color: rgba(0, 0, 0, 0.5);
  font-size: .75em;
  line-height: 1.5;
  margin: 0 8px 0 0;
  text-align: center;
}
.name-hero .name-text {
  margin: 0 auto;
  width: 85%;
}

.inner {
  margin: 0 auto;
  max-width: 900px;
  padding: 3em;
}
.inner h1 {
  font-size: 1.75em;
}
.inner p {
  color: #999;
}
.inner p em {
  color: rgba(0, 0, 0, 0.75);
}
.inner p i {
  color: rgba(0, 0, 0, 0.75);
}
.inner section {
  margin: 100px auto;
}

.outer {
  margin: 0 auto;
  max-width: 900px;
  height: 100%;
  max-height: 900px;
  padding: 3em;
  text-align: justify;
}
.outer h1 {
  font-size: 1.75em;
}
.outer p {
  color: #999;
}
.outer p em {
  color: rgba(0, 0, 0, 0.75);
}
.outer p i {
  color: rgba(0, 0, 0, 0.75);
}
.outer section {
  margin: 100px auto;
}

/*#canvas{ */
/*    border: 1px solid #dedede;*/
/*    position:relative;*/
/*    margin:0px auto;*/
/*    cursor:crosshair;*/
/*}*/
/*.hint{*/
/*    position:fixed;*/
/*}*/
/*.hidden{*/
/*    display: block;*/
/*    margin-top: -20px;*/
/*}*/
/*.coolView{*/
/*    background:rgba(0,0,0,.75);*/
/*    border-radius:5px;*/
/*    color:#FFF;*/
/*    display:inline-block;*/
/*    list-style:none;*/
/*    margin:15px 15px 0 0;*/
/*    padding:10px;*/
/*    text-align:justify;*/
/*    cursor: pointer;*/
/*}*/
/*.coolView:hover{*/
/*    background:#126ee0;*/
/*}*/
