/* 
    Document   : style
    Created on : Oct 28, 2013, 3:49:43 AM
    LAst Update: May 11, 2016, 0:24:02 AM
    Author     : Manuel Reyes
    Description:
        Styles for cool resume.
*/
root
{ 
    display: block;
}

html
{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-size:100%;
}


body
{
	-webkit-font-smoothing:antialiased;
	color:#333332;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	font-weight:400;
	line-height:1.4;
	text-rendering:optimizeLegibility;
    width:100%;
    height:100%;
    margin: 0 auto;
    overflow-x:hidden;
    min-width:300px;
}

ul
{
	list-style-type:none;
	margin-top:-10px;
	max-width:570px;
	padding:0;
	cursor: default;
}

a
{
	text-decoration: none;
}

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.skill-set li:hover
{
	background:#126ee0;
}

.wrapper
{
	height:100%;
}

.left
{
	background-color:rgba(0,0,0,.025);
	border-right:1px solid rgba(0,0,0,.05);
	float:right;
	height:100%;
	min-width:200px;
	position:fixed;
	width:33.33%;
    max-width: 550px;
	top:0px;
}

.right
{
	float:right;
	height:100%;
	position:relative;
	width:66.66%;
}

.name-hero
{
	background:rgba(0,0,0,.001);
	bottom:0;
	height:290px;
	left:0;
	margin:auto;
	position:absolute;
	right:0;
	top:0;
	width:85%;
}

.me-img
{
	/*background:url(../img/mreyes_2013.jpg) no-repeat center center ;*/
	border-radius:100%;
	height:250px;
	margin:0 auto;
	margin-top:-10%;
	position:relative;
	width:250px;
	overflow:hidden;
}
.me-img img {
	position: relative;
	width: 100%;
	height: 100%;
}

.name-hero h1
{
	font-size:1.5em;
	text-align:center;
}

.name-hero h1 em
{
	color:rgba(0,0,0,.3);
	font-style:normal;
	font-weight:700;
}

.name-hero p
{
	color:rgba(0,0,0,.5);
	font-size:.75em;
	line-height:1.5;
	margin:0 8px 0 0;
	text-align:center;
}
i {
	font-style: normal;
}
.name-hero .name-text
{
	margin:0 auto;
	width:85%;
}

.inner
{
	margin:0 auto;
	max-width:900px;
	padding:3em;
}

.inner h1
{
	font-size:1.75em;
}

.inner p
{
	color:rgba(0,0,0,.3);
}

.inner p em
{
	color:rgba(0,0,0,.75);
	/*font-style:normal;*/
}
.inner p i
{
	color:rgba(0,0,0,.5);
	/*font-style:italic;*/
}

.inner section
{
	margin:100px auto;
}

.outer
{
	margin:0 auto;
	max-width:900px;
	height:100%;
	max-height:900px;
	padding:3em;
	text-align: justify;
}

.outer h1
{
	font-size:1.75em;
}

.outer p
{
	color:rgba(0,0,0,.3);
}

.outer p em
{
	color:rgba(0,0,0,.75);
	/*font-style:normal;*/
}

.outer section
{
	margin:0 auto;
	min-height: 500px;
	max-width: 900px;
    overflow: hidden;
}

.skill-set li
{
	font-size:95%;
	background-color: rgb(0,0,0);
	background-color:rgba(0,0,0,.75);
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	list-style:none;
	margin:8px 10px 0px 0px;
	padding: 10px 5px 0px 5px;
	max-width: 169px;
	min-width: 36px;
	height:30px;
	text-align:center;
	overflow:hidden;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#canvas{ 
    border: 1px solid #dedede;
    position:relative;
    margin:0px auto;
    cursor:crosshair;
}

.hint{
    position:fixed;
}

.hidden{
    display: block;
    margin-top: -20px;
}

.toggleBtn{
	position:relative;
    display:block;
    color:rgb(0,0,0);
    color:rgba(0,0,0,.75);
    cursor: pointer;
    padding-top: 10px;
    width: 100%;
    clear:none;
    margin-top:3em;
    border-top: 1px solid #eee;
    text-align: center;
}

.toggleBtn:hover{
    color:#126ee0;
}

.coolView{
    background:rgba(0,0,0,.75);
    border-radius:5px;
    color:#FFF;
    display:inline-block;
    list-style:none;
    margin:15px 15px 0 0;
    padding:10px;
    text-align:justify;
    cursor: pointer;
}

.coolView:hover{
    background:#126ee0;
}

.mobileMe{
    background: url(../img/mobileMe.png) no-repeat center center;
    width:312px;
    height:312px;
}

.contact-icons{
	position: relative;
	margin:0 auto;
	min-width:12em;
	clear:none;
	padding: 20px;
}

.contact-info {
	display:block;
	padding: 10px;
	text-align: center;
}

.contact-info a {
	text-decoration: none;
	cursor: pointer;
	padding: 5px;
	color:#333;
}

@media screen and (max-width: 33em) {
	.right,.left {
		min-height: 15em;
	}
	.me-img{
		width:10px;
    	height:10px;
    	/*display: none;*/
    }
    
}

@media screen and (max-width: 48em) {
	body { font-size:12px;}
	.right,.left{
	    float:none;
	    position:relative;
	    min-width:100%;
	    min-height:30em;
	    clear:none;
    }
    .me-img{
    	width:150px;
    	height:150px;
    	top:0px;
    }
}

@media screen and (max-width: 75em) {
    body { font-size:16px;}
    .me-img{
    	width:200px;
    	height:200px;
    }
}

@media screen and (max-width: 60em) {
    body { font-size:14px;}
    
}