<section id="about">
  <div class="container">
    <div class="container-padding">
      <h2>Epale, Como esta la vaina?!</h2>
      <p>
        I am <strong>Koopa Querales</strong>, a singer-songwriter and guitarist from <strong>Venezuela</strong> living in <strong>Bruxelles</strong>!,
        I'm an '85s model, therefore I grew up watching MTV - Yes, I was the one watching world premiere music videos from Linkin Park, Blink-182 and Papa Roach.
        (I may or may not have listened to Britney and Backstreet Boys....)
      </p>
      <p>
        My musical journey began in Venezuela in 2001, when I learned "Californication" from RHCP on the guitar. I made my way around, play at bars and clubs with different garage bands.
        <br />
        From there, I contintued to <strong>Argentina</strong>, <strong>Canada</strong> and <strong>Belgium</strong>, where I started my solo career.
      </p>
      <p>
        My music is influenced by the ‘80s and early ‘00s rock.
        Although I'm a bit of a nerd, so I'm also a gamer and a <strong>software developer</strong>.
      </p>
    </div>
  </div>
</section>
