<section id="about">
  <div class="container">
    <div class="container-padding">
      <h2>Epale, Como esta la vaina?!</h2>
      <p>
        I am <strong>Koopa Querales</strong>, a singer-songwriter and guitarist from <strong>Venezuela</strong> living in <strong>Bruxelles</strong>!,
        I'm a model 85's, therefore I grew up watching MTV - Yes, I was the one watching world premiere music videos from Linkin Park, Blink-182 and Papa Roach.
        (I might or might have not heard some Britney and Backstreet Boys...)
      </p>
      <p>
        My musical journey started in Venezuela back in 2001, learning "Californication" from RHCP
        and made my way playing at bars and clubs with a variety of groups from where it continued via
        <strong>Argentina</strong>, <strong>Canada</strong> and <strong>Belgium</strong> where I started a solo career.
      </p>
      <p>
        My music is influenced by the ‘80s and early ‘00s rock.
        Although I'm a bit of a nerd, so I'm also a gamer and a <strong>software developer</strong>.
      </p>
    </div>
  </div>
</section>
