<footer id="footer">
  <div class="container-padding">
    <div class="header-icons">
      {% for link in site.socials %}
        <a aria-label="{{ link.title }}" href="{{ link.url }}" target="_blank">
          <i class="icon fa fa-{{ link.title }}" aria-hidden="true"></i>
        </a>
      {% endfor %}
    </div>
    <div class="footer-signature">
        <span>
          <i class="icon fa fa-code" aria-hidden="true"></i>
          with
          <i class="icon fa fa-heart" aria-hidden="true"></i>
          and
          <i class="icon fa fa-github-alt" aria-hidden="true"></i>
        </span>
        <br/>
        <span>
          2020 - Koopa Querales
        </span>
    </div>
  </div>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
