<div class='header-bg'>
  <div id="particles-js"></div>
  <div class="header">
    <h1 id="site-title" class="page-title display-type-logo text-fit">
      <img class="logo" src="{{ site.imgBasePath }}/logo.png" alt="Koopa Querales">
    </h1>
    <div class="header-icons">
      {% for store in site.stores %}
        <a aria-label="{{ store.title }}" href="{{ store.url }}" target="_blank">
          <i class="icon fa fa-{{ store.title }}" aria-hidden="true"></i>
        </a>
      {% endfor %}
    </div>
    <div class="">
      <iframe
        src="https://open.spotify.com/follow/1/?uri=spotify:artist:26SaZCIwAtd9q93VhE7y60&size=detail&theme=dark"
        width="300"
        height="56"
        scrolling="no"
        frameborder="0"
        style="border:none; overflow:hidden;"
        allowtransparency="true"
      >
      </iframe>
    </div>
  </div>
</div>
