<!--
 _   _______  ___________  ___
| | / /  _  ||  _  | ___ \/ _ \
| |/ /| | | || | | | |_/ / /_\ \
|    \| | | || | | |  __/|  _  |
| |\  \ \_/ /\ \_/ / |   | | | |
\_| \_/\___/  \___/\_|   \_| |_/


_____ _   _ ___________  ___   _      _____ _____
|  _  | | | |  ___| ___ \/ _ \ | |    |  ___/  ___|
| | | | | | | |__ | |_/ / /_\ \| |    | |__ \ `--.
| | | | | | |  __||    /|  _  || |    |  __| `--. \
\ \/' / |_| | |___| |\ \| | | || |____| |___/\__/ /
 \_/\_\\___/\____/\_| \_\_| |_/\_____/\____/\____/
-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{ site.imgBasePath }}/favicon.png" >
  {% include og.html %}
  {% include ldjson.html %}
</head>
