<div class='header-bg'>
  <div id="particles-js"></div>
  <div class="header">
    <h1 id="site-title" class="page-title display-type-logo text-fit">
      <img class="logo" src="../assets/logo.png" alt="Koopa Querales">
    </h1>
    <div class="header-icons">
      {% for store in site.stores %}
        <a aria-label="{{ store.title }}" href="{{ store.url }}" target="_blank">
          <i class="icon fa fa-{{ store.title }}" aria-hidden="true"></i>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
