<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"Person",
    "name":"Koopa Querales",
    "url":"http://www.woorank.com",
    "disambiguatingDescription":"Venezuelan singer-songwriter",
    "nationality":"Spain, Venezuelan",
    "sameAs":[
      "https://twitter.com/koopaquerales",
      "https://www.facebook.com/koopaquerales",
      "https://www.soundcloud.com/koopaquerales",
      "https://www.instagram.com/koopaquerales/?hl=en",
      "https://artists.spotify.com/c/artist/26SaZCIwAtd9q93VhE7y60/profile"
    ]
  }
</script>
