<meta name="title" content="Koopa Querales" />
<meta name="description" content="Koopa Querales is a singer-songwriter and guitarist from Venezuela, whose music is heavily influenced by the ‘80s and early ‘00s rock" />
<meta name="url" content="http://www.koopaquerales.com" />

<meta itemprop="name" content="Koopa Querales" />
<meta itemprop="url" content="http://www.koopaquerales.com" />
<meta itemprop="description" content="The Official Website of Koopa Querales. The single Tomorrow Will Be Flies is available now." />

<!-- OpenGraph data -->
<meta property="og:site_name" content="Koopa Querales" />
<meta property="og:title" content="Koopa Querales" />
<meta property="og:url" content="http://www.koopaquerales.com" />
<meta property="og:type" content="website" />
<meta property="og:description" content="The Official Website of Koopa Querales. The single Tomorrow Will Be Flies is available now." />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="https://pbs.twimg.com/profile_images/1194786810737647617/rBxiNz9S_400x400.jpg" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@koopaquerales" />
<meta name="twitter:title" content="Koopa Querales - singer-songwriter and guitarist from Venezuela" />
<meta name="twitter:url" content="http://www.koopaquerales.com" />
<meta name="twitter:description" content="Koopa Querales is a singer-songwriter and guitarist from Venezuela, whose music is heavily influenced by the ‘80s and early ‘00s rock" />
<meta name="twitter:creator" content="@koopaquerales" />
<meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1194786810737647617/rBxiNz9S_400x400.jpg" />
