<meta name="title" content="Koopa Querales" />
<meta property="og:title" content="Koopa Querales" />
<meta name="twitter:title" content="Koopa Querales" />
<meta name="description" content="Home page of Koopa Querales, a rock artist from Brussels. Koopa Querales is a singer-songwriter and guitarist from Venezuela, whose music is heavily influenced by the ‘80s and early ‘00s rock." />
<meta property="og:description" content="Home page of Koopa Querales, a rock artist from Brussels. Koopa Querales is a singer-songwriter and guitarist from Venezuela, whose music is heavily influenced by the ‘80s and early ‘00s rock." />
<meta name="twitter:description" content="Home page of Koopa Querales, a rock artist from Brussels. Koopa Querales is a singer-songwriter and guitarist from Venezuela, whose music is heavily influenced by the ‘80s and early ‘00s rock." />
<meta name="url" content="https://koopaquerales.bandzoogle.com/home" />
<meta property="og:url" content="https://koopaquerales.com" />
<meta name="twitter:card" content="summary" />
