.about {
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 20px;
}

h2, p {
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
}
