.about {
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 20px;
}

h2, p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2em;
  cursor: default;
}
