#about {
  background-color: #main;
  font-size: 120%;
  background-repeat: no-repeat;
  background-image: url('/assets/bg2.jpg');
  background-size: cover;
  background-position: 50% 50%;
  mix-blend-mode: luminosity;
  filter: sepia(.5) contrast(1.4);
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  .container-padding {
    padding: 60px 0;
  }
}
