.video {
  background-color: #main;
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 20px;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  .container-padding {
    padding: 60px 0;
  }
}
