@charset "UTF-8";

@import 'utils/variables';
@import 'utils/mixins';
@import '~font-awesome/scss/font-awesome';

$fa-font-path: '~font-awesome/fonts';

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $main-font;
  font-weight: $font-weight;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  min-width: 300px;

  @include breakpoint($screen-lg) {
    font-size: 16px;
  }

  @include breakpoint($screen-md) {
    font-size: 14px;
  }

  @include breakpoint($screen-sm) {
    font-size: 14px;
  }
}

ul {
  list-style-type: none;
  margin-top: -10px;
  max-width: 570px;
  padding: 0;
  cursor: default;
}

.overlay {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.wrapper {
  height: 100%;
}

.skill-set {
  li {
    font-size: 95%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color: white;
    display: inline-block;
    list-style: none;
    margin: 8px;
    padding: 10px;
    max-width: 169px;
    min-width: 36px;
    min-height: 30px;
    text-align: center;
    overflow: hidden;

    &:hover {
      background: $hover-color;
    }
  }
}

.clearfix {
  &::after {
    // Older browser do not support empty content
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.toggleBtn {
  position: relative;
  display: block;
  color: $secondary-color;
  cursor: pointer;
  padding-top: 10px;
  width: 100%;
  clear: none;
  margin-top: 3em;
  border-top: 1px solid $border-color;
  text-align: center;

  &:hover {
    color: $hover-color;
  }
}

.me-img {
  border-radius: 100%;
  margin: 0 auto;
  margin-top: -10%;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;

  img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  @include breakpoint($screen-md) {
    width: 230px;
    height: 230px;
  }

  @include breakpoint($screen-sm) {
    width: 200px;
    height: 200px;
    top: 0;
  }
}

.left {
  background-color: rgba(0, 0, 0, 0.025);
  border-right: 1px solid $border-color;
  float: right;
  height: 100%;
  min-width: 200px;
  position: fixed;
  width: 33.33%;
  max-width: 550px;
  top: 0;

  @include breakpoint($screen-sm) {
    float: none;
    position: relative;
    min-width: 100%;
    min-height: 30em;
    clear: none;
  }
}

.right {
  float: right;
  height: 100%;
  position: relative;
  width: 66.66%;
  min-height: 15em;

  @include breakpoint($screen-sm) {
    float: none;
    position: relative;
    min-width: 100%;
    min-height: 30em;
    clear: none;
  }
}

.contact-icons {
  position: relative;
  margin: 0 auto;
  min-width: 12em;
  clear: none;
  padding: 10px 0;
}

.contact-info {
  display: block;
  padding: 10px;
  text-align: center;

  a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    color: $main-color;
  }
}

.name-hero {
  background: $left-background-color;
  bottom: 0;
  height: 290px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;

  h1 {
    font-size: 1.5em;
    text-align: center;

    em {
      color: rgba(0, 0, 0, 0.3);
      font-style: normal;
      font-weight: 700;
    }
  }

  p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75em;
    line-height: 1.5;
    margin: 0 8px 0 0;
    text-align: center;
  }

  .name-text {
    margin: 0 auto;
  }
}

.inner {
  margin: 10px auto;
  max-width: 900px;
  padding: 3em;

  h1 {
    font-size: 1.75em;
  }

  p {
    color: $font-color;

    em {
      color: rgba(0, 0, 0, 0.75);
    }

    i {
      color: rgba(0, 0, 0, 0.75);
    }
  }

  .item {
    margin: 50px auto;
  }

  section {
    margin: 50px auto;
  }
}

.outer {
  margin: 0 auto;
  max-width: 900px;
  height: 100%;
  max-height: 900px;
  padding: 3em;
  text-align: $outer-text-align;

  h1 {
    font-size: 1.75em;
  }

  p {
    color: $font-color;

    em {
      color: rgba(0, 0, 0, 0.75);
    }

    i {
      color: rgba(0, 0, 0, 0.75);
    }
  }

  section {
    margin: 100px auto;
  }
}

.iconspace {
  padding: 0 1px;
}

.tdright {
  text-align: right;
}
