// Color
$main-color : #333332;
$secondary-color: #333;
$border-color: rgb(236, 236, 236);
$left-background-color: rgb(249, 249, 249);
$hover-color : #126ee0;

$outer-text-align : justify;

// Font
$main-font: 'Roboto', sans-serif;
$font-color : #999;
$font-weight : 400;

// Media Queries
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
